.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.wrapper {
  width: 100%;
}

button,
input {
  &:focus {
    outline: none;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.panel-enter-active,
.panel-leave-active {
  transition: opacity 0.3s, transform 0.5s;
}
.panel-enter,
.panel-leave-active {
  transform: translateX(10%);
  opacity: 0;
}

.message-enter-active,
.message-leave-active {
  transition: all 0.5s;
}
.message-enter,
.message-leave-active {
  opacity: 0;
}
